h1 {
    color: hotpink
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
}

.box {
    /* Vertically and horizontally centers content */
    margin: auto;
}