h1 {
    color: hotpink
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    line-height: 100px;
    background: #002A93;
    
}

.cat, .ques {
    /* Vertically and horizontally centers content in each cell */
    margin: auto;
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 900;    

}

.cat {
    color: white;
    font-size: 50px;
    font-weight: 900;    
}

.ques {
    color: #E2A051;
}