body {
    font-family: Helvetica;
}

h1 {
    color: hotpink;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    background: #002A93;
}

.score-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    background: #002A93;
}

.cat, .ques, .score, .name {
    /* Vertically and horizontally centers content in each cell */
    margin: auto;
    font-family: Helvetica;
    font-weight: 900;    

}

.cat {
    color: white;
    font-size: 20px;
    font-weight: 900;    
}

.ques {
    color: #E2A051;
    font-size: 50px;

}

.score {
    color: white;
    font-size: 50px;
    font-weight: 900;    
}

.name {
    color: white;
    font-size: 50px;
    font-weight: 900; 
    font-family: 'Dancing Script', cursive;   
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer
}

/* The Modal (background) */
#questionModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#questionBox {
  background-color: #002A93;
  color: white;
  font-size: 50px;
  height: 11.25em;
  text-align: center;
  margin: 2.25em auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 85%; /* Could be more or less, depending on screen size */
}